@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Lexend Deca', sans-serif; */


* {
    box-sizing: border-box;
}

body {
    background-color: hsl(233, 47%, 7%);
    color: white;
    font-family: 'Inter', sans-serif;
}

.main {
    background-color: hsl(244, 38%, 16%);
    display: flex;
}
.statistics {
    display: flex;
}
.violet {
    color:  hsl(277, 64%, 61%);
}

.type {
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
}