@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Lexend Deca', sans-serif; */

:root {
 --ff-primary: 'Inter', sans-serif;
 --ff-secondary: 'Lexend Deca', sans-serif;

 --clr-main: hsl(233, 47%, 7%);
 --clr-card: hsl(244, 38%, 16%);
 --clr-accent:  hsl(277, 64%, 61%);

 --clr-text: hsl(0, 0%, 100%);

 --fs-copy: 15px;
 --fs-heading: 40px;

 --fw-reg: 400;
 --fw-bold: 700;


}


* {
    box-sizing: border-box;
}

body {
    background-color: var(--clr-main);
    color: var(--clr-text);
    font-family: var(--ff-primary);
    display: flex;
    flex-direction: column;
    place-content: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    background-color: var(--clr-card);
    border-radius: 15px;
    display: flex;
    font-size: var(--fs-copy);
    justify-content: center;
    align-items: center;
    width: 1120px;
    height: 446px;
}
.text-container {
    padding: 70px;
    margin-right: 20px;
    height: 100%;
    width: 50%;
}
.image-container {
    background-color: var(--clr-accent);
    border-radius: 0 15px 15px 0;
    height: 446px;
    width: 540px;
}
img {
    border-radius: 0 15px 15px 0;
    max-width: 100%;
    max-height: 100%;
    opacity: 0.4;
}
h1 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-heading);
    margin-top: 0;
}
.violet {
    color:  var(--clr-accent);
}
p {
    opacity: 0.75;
    line-height: 1.7;
    margin-bottom: 60px;
    margin-right: 50px;
}
.statistics {
    display: flex;
    margin-bottom: 40px;
    justify-content: start;
}
.stats-container {
    margin-right: 50px;
}
.number {
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: var(--fw-bold);
}
.type {
    font-family: var(--ff-secondary);
    margin: 0;
    opacity: 0.6;
    text-transform: uppercase;
}

@media (max-width:375) {
    
}


.attribution {
    margin-top: 20px;;
}